#root {
    padding-top: 5rem;
    color: #282828 !important;
}

a, a:visited, a:hover, a:active {
    text-decoration: none!important;
}

a, a:visited, a:active {
    color: #1e1e82;
}

 a:hover {
    color: #4b4bb9;
}

 #logo {
     color: white;
 }

#logo:hover {
    color: #dedede;
}
